---
import { t } from "i18next";
import { ClientRouter } from 'astro:transitions';
const { title  } = Astro.props;

const siteUrl = "https://www.wesell.com.co";

---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<meta name="description" content={t("layout.description")} />
<meta name="sarpin agency" content="sarpin.agency">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={siteUrl}>

<!-- CSS Swiper -->
<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={siteUrl} />
<meta property="og:description" content={t("layout.description")} />
<meta property="og:image" content="/puerto_contenedores.jpg" />
<meta property="og:image:alt" content="Puerto Maritimo" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Transition View -->
<ClientRouter />

<!-- Alpine Plugins -->
<script is:inline defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
 
<!-- Alpine Core -->
<script is:inline defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script is:inline defer src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-WZFFSV8TKW"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WZFFSV8TKW');
</script>