---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import { t } from "i18next";


type Props = CollectionEntry<'blog'>['data'];


const { title, heroImage, pubDate } = Astro.props;
---

<Layout title={t(title)}>
  <section class="bg-gray-50 py-24">
    <div class="mx-auto max-w-screen-lg px-4 py-16">

      <div class="space-y-6 text-center">
        <p class="font-body capitalize">{pubDate.toDateString()}</p>
        <h1 class="text-3xl lg:text-5xl font-body mb-4 text-gray-900">     
          {t(title)}
        </h1>
        
          <div class="flex justify-center space-x-2.5 items-center">
            <img alt="Wesell" title="WESELL Logo" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" class="rounded-full" src="/logo_wesell_dos.svg">
            </div>
        
      </div>
      <!-- Imagen destacada -->
      {heroImage && (
        <div class="py-5 flex justify-center items-center">
          <img
            src={heroImage}
            alt={title}
            class="rounded-lg w-2/3 max-w-full h-80 object-cover"
          />
        </div>
      )}


      <!-- Contenido del post -->
      <article class="max-w-none mx-auto">
        <slot />
      </article>
    </div>
  </section>
  
</Layout>

			
